---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';
---

<BaseLayout title="About | Valentin Rapp" description="About Valentin Rapp Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait.jpg"
					alt="Valentin Rapp at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Hi there! My name is Valentin and I'm a computer science graduate with a specialization in software engineering. My passion for the natural sciences during school led me to explore the world of coding and software development, and I've been hooked ever since, being in the industry for about five years to this day.
					</p>
					<p>
						I began my career in a software development agency, where I honed my skills in software engineering concepts with a heavy focus on frontend development. Working alongside UI/UX designers, backend developers, and product owners, I helped create a range of digital products.
					</p>
					<p>
						Later, I joined a larger company, where I had the opportunity to work on a variety of customer projects. I continued my journey as a frontend developer, improving my engineering skills and working in agile teams.
					</p>
					<p>
						Recently, I made the decision to focus on a single product and dive deeper into creating a product, learning about all its facets. This has been an incredibly exciting journey, and I'm thrilled to continue expanding my knowledge and expertise as a leader of a squad of skilled developers.
					</p>
					<p>
						I'm passionate about all things related to product development and love working on projects that challenge me to learn and grow. When I'm not coding, you can find me in the gym, reading, or trying out new recipes in the kitchen. Feel free to get in touch with me anytime!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bachelor of Applied Science // Computer Science</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content pills">
					<Pill>Javascript / Typescript</Pill>
					<Pill>NodeJS / NestJS</Pill>
					<Pill>Frontend Development</Pill>
					<Pill>AWS</Pill>
					<Pill>Mobile development</Pill>
					<Pill>Leadership</Pill>
					<Pill>Vue / React</Pill>
					<Pill>Testing</Pill>
					<Pill>Agilile Methodologies</Pill>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.pills {
		display: flex;
		flex-wrap: wrap;
		grid-row-gap: 8px;
		grid-column-gap: 8px;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
